<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Bienvenue sur la liste des espèces menacées</h1>
    <nav>
        <ul style="display: flex; align-items: center;">
            <li>
                <select name="countries" id="country-select">
                    <% apiPays.forEach(country=> { %>
                        <option value="<%= country.name.common %>" codeCountry="<%= country.cca2 %>">
                            <%= country.name.common %>
                        </option>
                    <% }); %>
                </select>
            </li>
            <li>
                <select name="number" id="number-select">
                    <option value="5" selected>5</option>
                    <% for (let i=6; i <=15; i++) { %>
                        <option value="<%= i %>">
                            <%= i %>
                        </option>
                    <% } %>
                </select>
            </li>
            <li>
                <button onclick="handleCountryChange()">Valider</button>
            </li>
        </ul>
    </nav>
    <div id="animal-info">
        <h2>Informations sur les espèces menacées :</h2>
        <ul id="animal-list">
        </ul>
    </div>

    <script>
        function handleCountryChange() {
            const select = document.getElementById('country-select');
            const selectedOption = select.options[select.selectedIndex];
            const selectedValue = selectedOption.getAttribute('codeCountry');
            if (selectedValue) {
                fetchAnimals(selectedValue);
            } else {
                alert('Veuillez sélectionner un pays');
            }
        }

        function fetchAnimals(countryCode) {
            fetch(`/animals/${countryCode}/${document.getElementById('number-select').value}`)
                .then(response => response.json())
                .then(data => {
                    const animalList = document.getElementById('animal-list');
                    console.log(data);
                    if (data.length > 0) {
                        animalList.style.display = 'block';
                        animalList.innerHTML = '';
                        data.forEach(animal => {
                            const listItem = document.createElement('li');
                            listItem.innerHTML = `
                                <strong>Nom scientifique :</strong> <a href="${animal.url}" target="_blank"><em>${animal.scientific_name}</em></a>  <br>
                                <strong>Nom authority :</strong> ${animal.authority} <br>
                                <strong>Possiblement éteint :</strong> ${animal.possibly_extinct ? 'Oui' : 'Non'} <br>
                                <strong>Possiblement éteint à l'état sauvage :</strong> ${animal.possibly_extinct_in_the_wild ? 'Oui' : 'Non'} <br>
                            `;
                            if (animalList !== null || animalList !== undefined) {
                                animalList.appendChild(listItem);
                            }
                        });
                    } else {
                        animalList.style.display = 'none';
                    }
                })
                .catch(error => {
                    console.error('Error fetching animal data:', error);
                });
        }
    </script>
</body>

</html>